profiles {
    local {
        process {
            executor = 'local'
        }
        singularity {
            enabled = true
            autoMounts = true
            runOptions = '--nv --bind /datos,/data,/home,/datos/home'
        }
    }

    local_cpu {
        params {
            subcluster_engine = 'scanpy'
            subcluster_backend = 'cpu'
            subcluster_gpus = 0
            subcluster_container = 'sc-luca-subcluster:latest'
        }
        process {
            executor = 'local'
        }
        docker {
            enabled = true
            runOptions = '-v /datos:/datos -v /home:/home'
        }
        singularity.enabled = false
    }

    local_gpu {
        params {
            subcluster_engine = 'faiss'
            subcluster_backend = 'gpu'
            subcluster_gpu_postprocess = 'cpu'
            subcluster_gpus = 1
            subcluster_container = 'sc-luca-subcluster:latest'
        }
        process {
            executor = 'local'
        }
        docker {
            enabled = true
            runOptions = '--gpus all -v /datos:/datos -v /home:/home'
        }
        singularity.enabled = false
    }

    remote_gpu {
        workDir = '/datos/home/epaaso/slurm-gpu-jobs/nf-work'
        params {
            subcluster_engine = 'faiss'
            subcluster_backend = 'gpu'
            subcluster_gpu_postprocess = 'cpu'
            subcluster_gpus = 1
            subcluster_container = '/data/containers/sc-luca-subcluster-cu12.sif'
            subcluster_python = '/opt/conda/bin/python'
            subcluster_pythonpath = '/data/containers/sc-luca-subcluster-py311'
            subcluster_ld_library_path = '/data/containers/sc-luca-subcluster-libs'
        }
        process {
            executor = 'slurm'
        }
        executor {
            name = 'slurm'
            queueSize = 20
            submitRateLimit = '10 sec'
        }
        singularity {
            enabled = true
            autoMounts = true
            runOptions = '--nv --bind /datos,/data,/home,/datos/home'
        }
    }
}

// Default to local profile if none specified
defaultProfile = 'local'
